@charset "IBM437";
@font-face {
  font-family: "Clear Sans";
  src: url("../font/ClearSans-Regular.eot");
  src: local("☺︎"), url("../font/ClearSans-Regular.woff") format("woff"), url("../font/ClearSans-Regular.ttf") format("truetype"), url("../font/ClearSans-Regular.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Clear Sans";
  src: url("../font/ClearSans-Bold.eot");
  src: local("☺︎"), url("../font/ClearSans-Bold.woff") format("woff"), url("../font/ClearSans-Bold.ttf") format("truetype"), url("../font/ClearSans-Bold.svg#webfont") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Clear Sans";
  src: url("../font/ClearSans-Italic.eot");
  src: local("☺︎"), url("../font/ClearSans-Italic.woff") format("woff"), url("../font/ClearSans-Italic.ttf") format("truetype"), url("../font/ClearSans-Italic.svg#webfont") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Clear Sans";
  src: url("../font/ClearSans-Light.eot");
  src: local("☺︎"), url("../font/ClearSans-Light.woff") format("woff"), url("../font/ClearSans-Light.ttf") format("truetype"), url("../font/ClearSans-Light.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Clear sans", sans-serif;
  line-height: 1.4;
  color: #444444;
  text-rendering: optimizeLegibility;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.row {
  list-style: none;
  padding-left: 0;
  margin: auto;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.col {
  padding: .5rem;
}

iframe {
  border: 0;
  width: 100%;
  min-height: 300px;
}

p, .p, address, pre, table, ul, ol, dl {
  margin-top: auto;
  margin-bottom: 1rem;
}

.title,
.section-title,
.heading,
.course-title {
  margin-top: auto;
  color: #222222;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.title {
  font-size: 4rem;
  color: #ffda00;
  text-shadow: 1px 1px 0 #e64d00;
  margin-bottom: 0;
  line-height: 1;
  margin-bottom: 1rem;
}
.subtitle {
  font-size: 1.5rem;
  color: white;
  font-weight: normal;
  margin-bottom: 4rem;
}
.section-title {
  font-size: 2.5rem;
  font-weight: 300;
  color: #00484b;
}
.heading {
  font-size: 1.5rem;
}
.course-title {
  font-size: 1rem;
}

ul,
ol {
  padding-left: 2rem;
}

hr {
  margin: 1rem 0;
  border: 0;
  height: 1px;
  background: #d8d8d8;
}

a {
  color: #337dff;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

.img > img {
  overflow: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

button, input[type='submit'], input[type='button'], [role='button'], .button {
  display: inline-block;
  text-decoration: none !important;
  text-align: center;
}

.small {
  font-size: smaller;
}

.large {
  font-size: larger;
}

.strong {
  color: #222222;
  font-weight: bold;
}

.b, .cta {
  font-weight: bold;
}

.em {
  color: #222222;
  font-style: italic;
}

.muted {
  color: gray;
}

.uppercase {
  text-transform: uppercase;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.clip, dl dt, dl .dt {
  overflow: hidden;
  white-space: nowrap;
}

abbr, .abbr {
  cursor: help;
}

.no-br {
  white-space: nowrap;
}

.nav-menu {
  padding: 1rem;
  overflow: hidden;
  background: #0ea053;
}
.nav-links {
  list-style: none;
  padding-left: 0;
  margin: auto -.5rem;
}
.nav-menu a {
  color: white;
  display: inline-block;
  padding: .5rem .5rem;
  font-size: 1rem;
  line-height: 1;
  color: white;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.nav-menu a:hover {
  border-color: white;
  text-decoration: none;
}
.nav-menu .brand {
  float: left;
  margin-left: -.5rem;
  font-weight: bold;
  color: #ffda00;
}
.nav-menu .brand:hover {
  border-color: #ffda00;
}
.nav-menu .nav-cta {
  cursor: pointer;
  position: relative;
  top: -3px;
  margin: 1rem .5rem;
  color: black;
  font-weight: bold;
  line-height: 1;
  border-color: #e6c400;
  background-color: #ffda00 !important;
  box-shadow: 0 3px 0 0 #e6c400;
}
.nav-menu .nav-cta:hover {
  box-shadow: none;
  top: 0;
}

#modal-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  transition: all 300ms ease-out;
}
body {
  transition: all 300ms ease-out;
  position: relative;
  left: 0;
}
body.modal-open {
  overflow: hidden;
  left: -100%;
}
.modal-open #modal-container {
  left: 0;
}
#modal-container .modal {
  min-height: 200px;
  height: 100%;
}
#modal-container .modal.active {
  display: block;
}

a[data-modal="close"] {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  margin-top: -1.5rem;
  line-height: 1rem;
  padding: 1rem;
  background-color: #0ea053;
  color: white;
  font-weight: bold;
}
a[data-modal="close"]:hover {
  text-decoration: none;
}

.section {
  margin-bottom: -1px;
  padding: 2rem 1rem;
}

#home {
  min-height: 100%;
  margin-top: -4rem;
  padding-top: 7rem;
  color: white;
  background: #0a5e66;
  background: linear-gradient(to bottom, #0A664C  0%, #0c8947 100%);
  overflow: hidden;
}
#home a {
  color: #ffda00;
}
.background-img {
  position: relative;
  max-width: 702px;
  /*position: absolute;
  top: -4rem;
  left: 55%;
  z-index: 1;*/
}
.summary .fa {
  position: relative;
  bottom: -.2em;
  float: left;
  width: 2rem;
  text-align: center;
}
.summary dt {
  color: #ffda00;
  float: left;
  width: 8rem;
}
.summary dd {
  padding-left: 0;
  margin-left: 8rem;
}
.summary dt, .summary dd {
  margin-bottom: .2rem;
}

.register {
  padding: 1rem 2rem;
  text-align: center;
  background-color: rgba(0, 72, 75, 0.5);
  border-radius: 0.5rem;
}
.register h3 {
  color: white;
  margin-bottom: .5rem;
}
.register.closed h3 {
  text-decoration: line-through;
}
.register.closed p {
  font-style: italic;
}

.cta {
  cursor: pointer;
  display: inline-block;
  padding: .5rem 1rem;
  color: black !important;
  text-shadow: 0 1px 0 #ccae00;
  background-color: #ffda00;
  border-radius: 0.2rem;
}
.cta:hover {
  text-decoration: none;
  background-color: #ffe133;
}

.knowledge {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border: 3px solid #f2f2f2;
}
.knowledge > *:last-child {
  margin-bottom: 0;
}
.knowledge ul {
  list-style: none;
  padding-left: 0;
  margin: auto;
  margin-bottom: auto;
}
.knowledge ul li {
  margin-bottom: 1rem;
}
.knowledge ul li:last-child {
  margin-bottom: auto;
}
.knowledge ul strong {
  display: block;
  text-transform: uppercase;
  color: #15B309;
}

#formular iframe {
  height: 100%;
}

#echipa {
	border-top: 1px solid #d8d8d8;
}

.profile-link {
  display: block;
  text-align: center;
}

.avatar {
  border-style: solid;
  border-color: inherit;
	border-radius: 50%;
  margin-bottom: .5em;
}

#programa {
  border-top: 1px solid #d8d8d8;
  background-color: #f2f2f2;
}

.schedule {
  counter-reset: h4;
}
.week {
  position: relative;
  padding: 1rem;
  border: 2px solid #d8d8d8;
  background-color: white;
}
.week:before {
  display: block;
  counter-increment: h4;
  content: "S\0103pt\0103m\00E2na " counter(h4);
  color: gray;
}
.week.done {
  border-color: #46C07D;
  border-width: 1px;
  background: #64DB96 url('../img/done.png') no-repeat bottom right;
}
.week.done,
.week.done:before {
  color: #14934D;
}
.week.done .course-title {
  color: inherit;
}
.week.done hr {
  background-color: #46C07D;
}
.week.done ul {
  list-style: disc;
}
.hackathon {
  text-align: center!important;
  margin-bottom: auto;
  border-color: #e6c400;
  background: #ffda00;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.25);
}
.hackathon:before {
  color: #e34f25;
}
.hackathon .course-title {
  font-size: larger;
  color: black;
  margin-bottom: auto;
}
.hackathon .img {
  max-width: 100%;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}
.hackathon p {
  margin-bottom: auto;
}

#locatie {
  position: relative;
  height: 450px;
  padding: 0;
  border: 0;
  overflow: hidden;
}
#map-canvas {
  heigth: 100%;
}
.overlay {
  height: 100%;
  position: absolute;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transition: all 300ms ease-out;
}
.overlay .section-title {
  color: white;
}
.overlay address {
  color: white;
  font-style: normal;
}
#locatie [data-toggle] {
  cursor: pointer;
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  margin: 0 0 0 -2rem;
  text-align: center;
  font-size: smaller;
  color: white;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 3;
}
#locatie [data-toggle]:hover {
  text-decoration: none;
}
#locatie [data-toggle] .fa {
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  line-height: inherit;
  transition: all 300ms ease-out;
}
#locatie [data-toggle] .fa:first-child {
  position: absolute;
  bottom: 0;
}
#locatie [data-toggle] .fa:last-child {
  position: absolute;
  top: 100%;
}
#locatie.active .overlay {
  bottom: 100%;
}
#locatie.active [data-toggle] .fa:first-child {
  bottom: 100%;
}
#locatie.active [data-toggle] .fa:last-child {
  top: 0;
}

#realizatori {
  color: white;
  background-color: #0c8947;
}
#realizatori a {
  color: #ffda00;
}

.logo {
  display: inline-block;
  font-size: smaller;
  line-height: 2;
  margin-left: 1rem;
  margin-right: 1rem;
  color: gray;
}
.logo:hover {
  text-decoration: none;
}
.logo .img {
  width: 60px;
  margin-left: auto;
  margin-right: auto;
}

.to-top {
  display: block;
  padding: 1rem;
  text-align: center;
  color: gray;
  background-color: #444444;
}
.to-top:hover {
  text-decoration: none;
  color: white;
}

@media (max-width: 420px) {
  .summary dt {
    margin-bottom: 0;
    float: none;
  }
  .summary dd {
    margin-left: 2rem;
  }
}
@media (max-width: 767px) {
  .background-img {
    max-width: 320px;
    width: 60%;
    margin-top: -4rem;
    margin-left: auto;
    margin-right: auto;
  }
  .title,
  .subtitle {
    text-align: center;
  }
  .title {
    font-size: 3rem;
  }
  .section-title {
    font-size: 2rem;
  }
  .heading {
    font-size: 1.2rem;
  }
  .brand {
    display: none!important;
  }
  .team-member {
    overflow: auto;
  }
  .profile-link {
    text-align: left;
    line-height: 48px;
  }
  .avatar {
    width: 48px;
    float: left;
    border-width: 2px;
    margin-right: .5em;
  }
  .nav-links {
    text-align: center;
  }
  .nav-links li {
    display: inline-block;
  }
  .logos,
  .credits {
    text-align: center;
  }
  .no-br {
    white-space: normal;
  }
}
@media (min-width: 768px) {
  .col {
    float: left;
  }
  .background-img {
    height: 0;
    width: 50%;
    overflow: visible;
    margin-left: auto;
    margin-right: 0;
    top: -7rem;
  }
  .title,
  .subtitle,
  .event-info {
    width: 50%;
  }
  .description,
  .knowledge {
    width: 50%;
  }
  .team-member {
    width: 20%; 
  }
  .avatar {
    border-width: 6px;
  }
  .schedule .col {
    width: 33.333333%;
  }
  .schedule .col.full {
    clear: both;
    float: none;
    width: 100%;
  }
  .week {
    min-height: 15rem;
  }
  .week:before,
  .course-title {
    text-align: center;
  }
  .nav-links {
    float: right;
  }
  .nav-links li {
    float: left;
  }
  .logos {
    float: right;
  }
  .credits {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 992px;
  }
  .background-img {
    width: 60%;
    left: 4rem;
  }
  .title {
    width: 100%;
  }
  .knowledge {
    width: 40%;
    margin-left: 10%;
  }
}
