@charset "IBM437";
ul.float:before,
ol.float:before, ul.float:after,
ol.float:after {
  content: "";
  display: table;
}
ul.float:after,
ol.float:after {
  clear: both;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1024px) {
  .container {
    max-width: 992px;
  }
}

.row {
  list-style: none;
  padding-left: 0;
  margin: auto;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row > * {
  float: left;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

@media (max-width: 479px) {
  .small-1 {
    width: 8.33333%;
  }

  .small-push-1 {
    position: relative;
    left: 8.33333%;
  }

  .small-pull-1 {
    position: relative;
    left: -8.33333%;
  }

  .small-offset-1 {
    margin-left: 8.33333%;
  }

  .small-2 {
    width: 16.66667%;
  }

  .small-push-2 {
    position: relative;
    left: 16.66667%;
  }

  .small-pull-2 {
    position: relative;
    left: -16.66667%;
  }

  .small-offset-2 {
    margin-left: 16.66667%;
  }

  .small-3 {
    width: 25%;
  }

  .small-push-3 {
    position: relative;
    left: 25%;
  }

  .small-pull-3 {
    position: relative;
    left: -25%;
  }

  .small-offset-3 {
    margin-left: 25%;
  }

  .small-4 {
    width: 33.33333%;
  }

  .small-push-4 {
    position: relative;
    left: 33.33333%;
  }

  .small-pull-4 {
    position: relative;
    left: -33.33333%;
  }

  .small-offset-4 {
    margin-left: 33.33333%;
  }

  .small-5 {
    width: 41.66667%;
  }

  .small-push-5 {
    position: relative;
    left: 41.66667%;
  }

  .small-pull-5 {
    position: relative;
    left: -41.66667%;
  }

  .small-offset-5 {
    margin-left: 41.66667%;
  }

  .small-6 {
    width: 50%;
  }

  .small-push-6 {
    position: relative;
    left: 50%;
  }

  .small-pull-6 {
    position: relative;
    left: -50%;
  }

  .small-offset-6 {
    margin-left: 50%;
  }

  .small-7 {
    width: 58.33333%;
  }

  .small-push-7 {
    position: relative;
    left: 58.33333%;
  }

  .small-pull-7 {
    position: relative;
    left: -58.33333%;
  }

  .small-offset-7 {
    margin-left: 58.33333%;
  }

  .small-8 {
    width: 66.66667%;
  }

  .small-push-8 {
    position: relative;
    left: 66.66667%;
  }

  .small-pull-8 {
    position: relative;
    left: -66.66667%;
  }

  .small-offset-8 {
    margin-left: 66.66667%;
  }

  .small-9 {
    width: 75%;
  }

  .small-push-9 {
    position: relative;
    left: 75%;
  }

  .small-pull-9 {
    position: relative;
    left: -75%;
  }

  .small-offset-9 {
    margin-left: 75%;
  }

  .small-10 {
    width: 83.33333%;
  }

  .small-push-10 {
    position: relative;
    left: 83.33333%;
  }

  .small-pull-10 {
    position: relative;
    left: -83.33333%;
  }

  .small-offset-10 {
    margin-left: 83.33333%;
  }

  .small-11 {
    width: 91.66667%;
  }

  .small-push-11 {
    position: relative;
    left: 91.66667%;
  }

  .small-pull-11 {
    position: relative;
    left: -91.66667%;
  }

  .small-offset-11 {
    margin-left: 91.66667%;
  }

  .small-12 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .mobile-1 {
    width: 8.33333%;
  }

  .mobile-push-1 {
    position: relative;
    left: 8.33333%;
  }

  .mobile-pull-1 {
    position: relative;
    left: -8.33333%;
  }

  .mobile-offset-1 {
    margin-left: 8.33333%;
  }

  .mobile-2 {
    width: 16.66667%;
  }

  .mobile-push-2 {
    position: relative;
    left: 16.66667%;
  }

  .mobile-pull-2 {
    position: relative;
    left: -16.66667%;
  }

  .mobile-offset-2 {
    margin-left: 16.66667%;
  }

  .mobile-3 {
    width: 25%;
  }

  .mobile-push-3 {
    position: relative;
    left: 25%;
  }

  .mobile-pull-3 {
    position: relative;
    left: -25%;
  }

  .mobile-offset-3 {
    margin-left: 25%;
  }

  .mobile-4 {
    width: 33.33333%;
  }

  .mobile-push-4 {
    position: relative;
    left: 33.33333%;
  }

  .mobile-pull-4 {
    position: relative;
    left: -33.33333%;
  }

  .mobile-offset-4 {
    margin-left: 33.33333%;
  }

  .mobile-5 {
    width: 41.66667%;
  }

  .mobile-push-5 {
    position: relative;
    left: 41.66667%;
  }

  .mobile-pull-5 {
    position: relative;
    left: -41.66667%;
  }

  .mobile-offset-5 {
    margin-left: 41.66667%;
  }

  .mobile-6 {
    width: 50%;
  }

  .mobile-push-6 {
    position: relative;
    left: 50%;
  }

  .mobile-pull-6 {
    position: relative;
    left: -50%;
  }

  .mobile-offset-6 {
    margin-left: 50%;
  }

  .mobile-7 {
    width: 58.33333%;
  }

  .mobile-push-7 {
    position: relative;
    left: 58.33333%;
  }

  .mobile-pull-7 {
    position: relative;
    left: -58.33333%;
  }

  .mobile-offset-7 {
    margin-left: 58.33333%;
  }

  .mobile-8 {
    width: 66.66667%;
  }

  .mobile-push-8 {
    position: relative;
    left: 66.66667%;
  }

  .mobile-pull-8 {
    position: relative;
    left: -66.66667%;
  }

  .mobile-offset-8 {
    margin-left: 66.66667%;
  }

  .mobile-9 {
    width: 75%;
  }

  .mobile-push-9 {
    position: relative;
    left: 75%;
  }

  .mobile-pull-9 {
    position: relative;
    left: -75%;
  }

  .mobile-offset-9 {
    margin-left: 75%;
  }

  .mobile-10 {
    width: 83.33333%;
  }

  .mobile-push-10 {
    position: relative;
    left: 83.33333%;
  }

  .mobile-pull-10 {
    position: relative;
    left: -83.33333%;
  }

  .mobile-offset-10 {
    margin-left: 83.33333%;
  }

  .mobile-11 {
    width: 91.66667%;
  }

  .mobile-push-11 {
    position: relative;
    left: 91.66667%;
  }

  .mobile-pull-11 {
    position: relative;
    left: -91.66667%;
  }

  .mobile-offset-11 {
    margin-left: 91.66667%;
  }

  .mobile-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .tablet-1 {
    width: 8.33333%;
  }

  .tablet-push-1 {
    position: relative;
    left: 8.33333%;
  }

  .tablet-pull-1 {
    position: relative;
    left: -8.33333%;
  }

  .tablet-offset-1 {
    margin-left: 8.33333%;
  }

  .tablet-2 {
    width: 16.66667%;
  }

  .tablet-push-2 {
    position: relative;
    left: 16.66667%;
  }

  .tablet-pull-2 {
    position: relative;
    left: -16.66667%;
  }

  .tablet-offset-2 {
    margin-left: 16.66667%;
  }

  .tablet-3 {
    width: 25%;
  }

  .tablet-push-3 {
    position: relative;
    left: 25%;
  }

  .tablet-pull-3 {
    position: relative;
    left: -25%;
  }

  .tablet-offset-3 {
    margin-left: 25%;
  }

  .tablet-4 {
    width: 33.33333%;
  }

  .tablet-push-4 {
    position: relative;
    left: 33.33333%;
  }

  .tablet-pull-4 {
    position: relative;
    left: -33.33333%;
  }

  .tablet-offset-4 {
    margin-left: 33.33333%;
  }

  .tablet-5 {
    width: 41.66667%;
  }

  .tablet-push-5 {
    position: relative;
    left: 41.66667%;
  }

  .tablet-pull-5 {
    position: relative;
    left: -41.66667%;
  }

  .tablet-offset-5 {
    margin-left: 41.66667%;
  }

  .tablet-6 {
    width: 50%;
  }

  .tablet-push-6 {
    position: relative;
    left: 50%;
  }

  .tablet-pull-6 {
    position: relative;
    left: -50%;
  }

  .tablet-offset-6 {
    margin-left: 50%;
  }

  .tablet-7 {
    width: 58.33333%;
  }

  .tablet-push-7 {
    position: relative;
    left: 58.33333%;
  }

  .tablet-pull-7 {
    position: relative;
    left: -58.33333%;
  }

  .tablet-offset-7 {
    margin-left: 58.33333%;
  }

  .tablet-8 {
    width: 66.66667%;
  }

  .tablet-push-8 {
    position: relative;
    left: 66.66667%;
  }

  .tablet-pull-8 {
    position: relative;
    left: -66.66667%;
  }

  .tablet-offset-8 {
    margin-left: 66.66667%;
  }

  .tablet-9 {
    width: 75%;
  }

  .tablet-push-9 {
    position: relative;
    left: 75%;
  }

  .tablet-pull-9 {
    position: relative;
    left: -75%;
  }

  .tablet-offset-9 {
    margin-left: 75%;
  }

  .tablet-10 {
    width: 83.33333%;
  }

  .tablet-push-10 {
    position: relative;
    left: 83.33333%;
  }

  .tablet-pull-10 {
    position: relative;
    left: -83.33333%;
  }

  .tablet-offset-10 {
    margin-left: 83.33333%;
  }

  .tablet-11 {
    width: 91.66667%;
  }

  .tablet-push-11 {
    position: relative;
    left: 91.66667%;
  }

  .tablet-pull-11 {
    position: relative;
    left: -91.66667%;
  }

  .tablet-offset-11 {
    margin-left: 91.66667%;
  }

  .tablet-12 {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .desktop-1 {
    width: 8.33333%;
  }

  .desktop-push-1 {
    position: relative;
    left: 8.33333%;
  }

  .desktop-pull-1 {
    position: relative;
    left: -8.33333%;
  }

  .desktop-offset-1 {
    margin-left: 8.33333%;
  }

  .desktop-2 {
    width: 16.66667%;
  }

  .desktop-push-2 {
    position: relative;
    left: 16.66667%;
  }

  .desktop-pull-2 {
    position: relative;
    left: -16.66667%;
  }

  .desktop-offset-2 {
    margin-left: 16.66667%;
  }

  .desktop-3 {
    width: 25%;
  }

  .desktop-push-3 {
    position: relative;
    left: 25%;
  }

  .desktop-pull-3 {
    position: relative;
    left: -25%;
  }

  .desktop-offset-3 {
    margin-left: 25%;
  }

  .desktop-4 {
    width: 33.33333%;
  }

  .desktop-push-4 {
    position: relative;
    left: 33.33333%;
  }

  .desktop-pull-4 {
    position: relative;
    left: -33.33333%;
  }

  .desktop-offset-4 {
    margin-left: 33.33333%;
  }

  .desktop-5 {
    width: 41.66667%;
  }

  .desktop-push-5 {
    position: relative;
    left: 41.66667%;
  }

  .desktop-pull-5 {
    position: relative;
    left: -41.66667%;
  }

  .desktop-offset-5 {
    margin-left: 41.66667%;
  }

  .desktop-6 {
    width: 50%;
  }

  .desktop-push-6 {
    position: relative;
    left: 50%;
  }

  .desktop-pull-6 {
    position: relative;
    left: -50%;
  }

  .desktop-offset-6 {
    margin-left: 50%;
  }

  .desktop-7 {
    width: 58.33333%;
  }

  .desktop-push-7 {
    position: relative;
    left: 58.33333%;
  }

  .desktop-pull-7 {
    position: relative;
    left: -58.33333%;
  }

  .desktop-offset-7 {
    margin-left: 58.33333%;
  }

  .desktop-8 {
    width: 66.66667%;
  }

  .desktop-push-8 {
    position: relative;
    left: 66.66667%;
  }

  .desktop-pull-8 {
    position: relative;
    left: -66.66667%;
  }

  .desktop-offset-8 {
    margin-left: 66.66667%;
  }

  .desktop-9 {
    width: 75%;
  }

  .desktop-push-9 {
    position: relative;
    left: 75%;
  }

  .desktop-pull-9 {
    position: relative;
    left: -75%;
  }

  .desktop-offset-9 {
    margin-left: 75%;
  }

  .desktop-10 {
    width: 83.33333%;
  }

  .desktop-push-10 {
    position: relative;
    left: 83.33333%;
  }

  .desktop-pull-10 {
    position: relative;
    left: -83.33333%;
  }

  .desktop-offset-10 {
    margin-left: 83.33333%;
  }

  .desktop-11 {
    width: 91.66667%;
  }

  .desktop-push-11 {
    position: relative;
    left: 91.66667%;
  }

  .desktop-pull-11 {
    position: relative;
    left: -91.66667%;
  }

  .desktop-offset-11 {
    margin-left: 91.66667%;
  }

  .desktop-12 {
    width: 100%;
  }
}
@media (min-width: 1600px) {
  .large-1 {
    width: 8.33333%;
  }

  .large-push-1 {
    position: relative;
    left: 8.33333%;
  }

  .large-pull-1 {
    position: relative;
    left: -8.33333%;
  }

  .large-offset-1 {
    margin-left: 8.33333%;
  }

  .large-2 {
    width: 16.66667%;
  }

  .large-push-2 {
    position: relative;
    left: 16.66667%;
  }

  .large-pull-2 {
    position: relative;
    left: -16.66667%;
  }

  .large-offset-2 {
    margin-left: 16.66667%;
  }

  .large-3 {
    width: 25%;
  }

  .large-push-3 {
    position: relative;
    left: 25%;
  }

  .large-pull-3 {
    position: relative;
    left: -25%;
  }

  .large-offset-3 {
    margin-left: 25%;
  }

  .large-4 {
    width: 33.33333%;
  }

  .large-push-4 {
    position: relative;
    left: 33.33333%;
  }

  .large-pull-4 {
    position: relative;
    left: -33.33333%;
  }

  .large-offset-4 {
    margin-left: 33.33333%;
  }

  .large-5 {
    width: 41.66667%;
  }

  .large-push-5 {
    position: relative;
    left: 41.66667%;
  }

  .large-pull-5 {
    position: relative;
    left: -41.66667%;
  }

  .large-offset-5 {
    margin-left: 41.66667%;
  }

  .large-6 {
    width: 50%;
  }

  .large-push-6 {
    position: relative;
    left: 50%;
  }

  .large-pull-6 {
    position: relative;
    left: -50%;
  }

  .large-offset-6 {
    margin-left: 50%;
  }

  .large-7 {
    width: 58.33333%;
  }

  .large-push-7 {
    position: relative;
    left: 58.33333%;
  }

  .large-pull-7 {
    position: relative;
    left: -58.33333%;
  }

  .large-offset-7 {
    margin-left: 58.33333%;
  }

  .large-8 {
    width: 66.66667%;
  }

  .large-push-8 {
    position: relative;
    left: 66.66667%;
  }

  .large-pull-8 {
    position: relative;
    left: -66.66667%;
  }

  .large-offset-8 {
    margin-left: 66.66667%;
  }

  .large-9 {
    width: 75%;
  }

  .large-push-9 {
    position: relative;
    left: 75%;
  }

  .large-pull-9 {
    position: relative;
    left: -75%;
  }

  .large-offset-9 {
    margin-left: 75%;
  }

  .large-10 {
    width: 83.33333%;
  }

  .large-push-10 {
    position: relative;
    left: 83.33333%;
  }

  .large-pull-10 {
    position: relative;
    left: -83.33333%;
  }

  .large-offset-10 {
    margin-left: 83.33333%;
  }

  .large-11 {
    width: 91.66667%;
  }

  .large-push-11 {
    position: relative;
    left: 91.66667%;
  }

  .large-pull-11 {
    position: relative;
    left: -91.66667%;
  }

  .large-offset-11 {
    margin-left: 91.66667%;
  }

  .large-12 {
    width: 100%;
  }
}
@font-face {
  font-family: "Clear Sans";
  src: url("../font/ClearSans-Regular.eot");
  src: local("☺︎"), url("../font/ClearSans-Regular.woff") format("woff"), url("../font/ClearSans-Regular.ttf") format("truetype"), url("../font/ClearSans-Regular.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Clear Sans";
  src: url("../font/ClearSans-Bold.eot");
  src: local("☺︎"), url("../font/ClearSans-Bold.woff") format("woff"), url("../font/ClearSans-Bold.ttf") format("truetype"), url("../font/ClearSans-Bold.svg#webfont") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Clear Sans";
  src: url("../font/ClearSans-Italic.eot");
  src: local("☺︎"), url("../font/ClearSans-Italic.woff") format("woff"), url("../font/ClearSans-Italic.ttf") format("truetype"), url("../font/ClearSans-Italic.svg#webfont") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Clear Sans";
  src: url("../font/ClearSans-Light.eot");
  src: local("☺︎"), url("../font/ClearSans-Light.woff") format("woff"), url("../font/ClearSans-Light.ttf") format("truetype"), url("../font/ClearSans-Light.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Clear sans" sans-serif;
  line-height: 1.4;
  color: #444444;
  text-rendering: optimizeLegibility;
}

iframe {
  border: 0;
  width: 100%;
  min-height: 300px;
}

.align-left {
  text-align: left;
}

.align-center, .inscrieri {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.relative {
  position: relative;
}

.static {
  position: static !important;
}

p, .p, blockquote, address, pre, table, ul, ol, dl, .box, .leading {
  margin-top: auto;
  margin-bottom: 1rem;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: auto;
  color: #222222;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1, .h1 {
  font-size: 4rem;
}

h2, .h2 {
  font-size: 2.5rem;
}

h3, .h3 {
  font-size: 1.8rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.2rem;
}

h6, .h6 {
  font-size: 1rem;
}

ul,
ol {
  padding-left: 2rem;
}

ul.inline,
ol.inline {
  padding-left: 0;
}
ul.inline > li,
ol.inline > li {
  display: inline-block;
  margin-left: .5rem;
}
ul.inline > li:first-child,
ol.inline > li:first-child {
  margin-left: auto;
}

ul.float > li,
ol.float > li {
  float: left;
}

dl dt, dl .dt {
  font-weight: bold;
}
dl dd, dl .dd {
  margin-left: 2rem;
}

dl.inline dt, dl.inline .dt, .dl.inline dt, .dl.inline .dt {
  float: left;
  clear: left;
  width: 6rem;
}
dl.inline dd, dl.inline .dd, .dl.inline dd, .dl.inline .dd {
  margin-left: 7rem;
}

hr {
  margin: 1rem 0;
  border: 0;
  height: 1px;
  background: #d8d8d8;
}

a {
  color: #337dff;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

.img > img {
  overflow: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
}
table a, table a:hover {
  text-decoration: none;
}

label {
  display: block;
}
label[for] {
  cursor: pointer;
}

button, input[type='submit'], input[type='button'], [role='button'], .button {
  display: inline-block;
  text-decoration: none !important;
  text-align: center;
}

input[type='text'], input[type='number'], input[type='password'], input[type='email'], input[type='search'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='month'], input[type='week'], input[type='tel'], input[type='time'], input[type='url'], select, textarea {
  display: block;
  width: 100%;
  border: 1px solid #d8d8d8;
  box-shadow: inset 0 2px 3px -1px #f2f2f2;
}

.hidden {
  display: none !important;
}

.small {
  font-size: smaller;
}

.normal {
  font-size: 1rem;
  color: #444444;
}

.large {
  font-size: larger;
}

.strong {
  color: #222222;
  font-weight: bold;
}

.b, .cta {
  font-weight: bold;
}

.em {
  color: #222222;
  font-style: italic;
}

.i {
  font-style: italic;
}

.muted {
  color: gray;
}

.mono {
  font-family: 'Consolas', monospace;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.strike {
  text-decoration: line-through;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.clip, dl dt, dl .dt {
  overflow: hidden;
  white-space: nowrap;
}

abbr, .abbr {
  cursor: help;
}

.no-br {
  white-space: nowrap;
}

nav {
  background: #0ea053;
}
body.modal-open nav {
  display: none;
}
nav .nav-links {
  list-style: none;
  padding-left: 0;
  margin: auto;
  float: right;
  margin-left: -.5rem;
  margin-right: -.5rem;
}
nav .nav-links li {
  float: left;
  text-align: center;
}
nav a {
  color: white;
  display: inline-block;
  padding: .5rem 1rem;
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1;
  color: white;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
nav a:hover {
  border-color: white;
  text-decoration: none;
}
nav a.brand {
  margin-left: -1rem;
  font-weight: bold;
  color: #ffda00;
}
nav a.brand:hover {
  border-color: #ffda00;
}
nav a.nav-cta {
  cursor: pointer;
  position: relative;
  top: -3px;
  margin: 1rem .5rem;
  color: black;
  font-weight: bold;
  line-height: 1;
  border-color: #e6c400;
  background-color: #ffda00 !important;
  -webkit-box-shadow: 0 3px 0 0 #e6c400;
  -moz-box-shadow: 0 3px 0 0 #e6c400;
  box-shadow: 0 3px 0 0 #e6c400;
}
nav a.nav-cta:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  top: 0;
}

#modal-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
body {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  position: relative;
  left: 0;
}
body.modal-open {
  overflow: hidden;
  left: -100%;
}
.modal-open #modal-container {
  left: 0;
}
#modal-container .modal {
  min-height: 200px;
  height: 100%;
}
#modal-container .modal.active {
  display: block;
}

a[data-modal="close"] {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  margin-top: -1.5rem;
  line-height: 1rem;
  padding: 1rem;
  background-color: #0ea053;
  color: white;
  font-weight: bold;
}
a[data-modal="close"]:hover {
  text-decoration: none;
}

section {
  margin-bottom: -1px;
  padding: 2rem 1rem;
}
section h2 {
  font-weight: 300;
  color: #00484b;
}

#home {
  min-height: 100%;
  margin-top: -4rem;
  padding-top: 7rem;
  padding-bottom: 4rem;
  color: white;
  background: #0b7a40;
}
#home a {
  color: #ffda00;
}
#home h1 {
  color: #ffda00;
  text-shadow: 1px 1px 0 #e64d00;
  margin-bottom: 0;
}
#home .subtitle {
  color: white;
  font-weight: normal;
  margin-bottom: 4rem;
}
#home .container {
  position: relative;
}
#home .container > * {
  position: relative;
  z-index: 2;
}
#home .background-img {
  width: 50%;
  max-width: 702px;
  position: absolute;
  top: -4rem;
  left: 55%;
  z-index: 1;
}
#home .sumar .fa {
  position: relative;
  bottom: -.2em;
  float: left;
  width: 2rem;
  text-align: center;
}
#home .sumar dt {
  color: #ffda00;
  float: left;
  width: 8rem;
}
#home .sumar dd {
  padding-left: 0;
  margin-left: 8rem;
}
#home .sumar dt, #home .sumar dd {
  margin-bottom: .2rem;
}

.inscrieri {
  padding: 1rem 2rem;
  background-color: rgba(0, 72, 75, 0.5);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.inscrieri h3 {
  color: white;
  margin-bottom: .5rem;
}

.cta {
  cursor: pointer;
  display: inline-block;
  padding: .5rem 1rem;
  color: black !important;
  text-shadow: 0 1px 0 #ccae00;
  background-color: #ffda00;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
}
.cta:hover {
  text-decoration: none;
  background-color: #ffe133;
}

.knowledge {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border: 3px solid #f2f2f2;
}
.knowledge > *:last-child {
  margin-bottom: 0;
}
.knowledge ul {
  list-style: none;
  padding-left: 0;
  margin: auto;
  margin-bottom: auto;
}
.knowledge ul li {
  margin-bottom: 1rem;
}
.knowledge ul li:last-child {
  margin-bottom: auto;
}
.knowledge ul strong {
  display: block;
  text-transform: uppercase;
  color: #15B309;
}

#formular iframe {
  height: 100%;
}

#programa {
  border-top: 1px solid #d8d8d8;
  background-color: #f2f2f2;
}

#programme {
  counter-reset: h4;
}
#programme .week {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border: 2px solid #d8d8d8;
  background-color: white;
  min-height: 15rem;
}
#programme .week:before {
  display: block;
  counter-increment: h4;
  content: "Săptămâna " counter(h4);
  color: gray;
  text-align: center;
}
#programme .week ul {
  font-size: smaller;
}
#programme .week h1, #programme .week .h1, #programme .week h2, #programme .week .h2, #programme .week h3, #programme .week .h3, #programme .week h4, #programme .week .h4, #programme .week h5, #programme .week .h5, #programme .week h6, #programme .week .h6 {
  text-align: center;
}
#programme .week > *:last-child {
  margin-bottom: auto;
}
#programme li:last-child .week {
  border-color: #e6c400;
  background: #ffda00;
  -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.25);
}
#programme li:last-child .week, #programme li:last-child .week:before,
#programme li:last-child .week h1, #programme li:last-child .week .h1, #programme li:last-child .week h2, #programme li:last-child .week .h2, #programme li:last-child .week h3, #programme li:last-child .week .h3, #programme li:last-child .week h4, #programme li:last-child .week .h4, #programme li:last-child .week h5, #programme li:last-child .week .h5, #programme li:last-child .week h6, #programme li:last-child .week .h6 {
  text-align: left;
  color: black;
}
#programme li:last-child .week hr {
  background-color: #e6c400;
}

.profile .img {
  width: 7rem;
  float: left;
  margin-right: 1rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  border: 0.25rem solid #f2f2f2;
}
.profile .profile-name {
  font-size: larger;
}
.profile p {
  margin-bottom: .5rem;
}
.profile .profile-job {
  margin-bottom: .5rem;
}
.profile .profile-contact {
  color: gray;
}
.profile .profile-contact a {
  color: gray;
}

#locatie {
  position: relative;
  height: 450px;
  padding: 0;
  border: 0;
  overflow: hidden;
}
#locatie #map-canvas {
  heigth: 100%;
}
#locatie .overlay {
  height: 100%;
  position: absolute;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
#locatie .overlay h2 {
  color: white;
}
#locatie .overlay address {
  color: white;
  font-style: normal;
}
#locatie [data-toggle] {
  cursor: pointer;
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  margin: 0 0 0 -2rem;
  text-align: center;
  font-size: smaller;
  color: white;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 3;
}
#locatie [data-toggle]:hover {
  text-decoration: none;
}
#locatie [data-toggle] .fa {
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  line-height: inherit;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
#locatie [data-toggle] .fa:first-child {
  position: absolute;
  bottom: 0;
}
#locatie [data-toggle] .fa:last-child {
  position: absolute;
  top: 100%;
}
#locatie.active .overlay {
  bottom: 100%;
}
#locatie.active [data-toggle] .fa:first-child {
  bottom: 100%;
}
#locatie.active [data-toggle] .fa:last-child {
  top: 0;
}

#realizatori {
  color: white;
  background-color: #0c8947;
}
#realizatori a {
  color: #ffda00;
}

.logos {
  float: right;
}
.logos > a {
  display: block;
  float: left;
  margin-left: 1rem;
  font-size: smaller;
  line-height: 2;
  color: gray;
  text-align: center;
}
.logos > a .img {
  width: 60px;
  margin-left: auto;
  margin-right: auto;
}
.logos > a:hover {
  text-decoration: none;
}

.to-top {
  display: block;
  padding: 1rem;
  text-align: center;
  color: gray;
  background-color: #444444;
}
.to-top:hover {
  text-decoration: none;
  color: white;
}
